header{
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
      }
.logo{
	background: url("../images/logo.png") no-repeat center;
	padding-left: 20px;
	width: 140px;
	height: 70px;
      }
